.Cartas {
    width: 100px;
    border-radius: 10px; 
    box-sizing: border-box;
    margin: 5px;

    
    &:focus {
        outline: none;
    }
}

.cartasEnMano {
    transition: 0.5s;
    
    &:hover {
        transform: translateY(-10px);
        border: 2px solid red;
        box-shadow: 5px 5px 5px #475577;
        cursor: pointer;
    }

}