.Cartas {
    width: 100px;
    border-radius: 10px; 
    box-sizing: border-box;
    margin: 5px;

    
    &:focus {
        outline: none;
    }
}

.cartasEnMano {
    transition: 0.5s;

    &:hover {
        border: 2px solid red;
        cursor: pointer;
    }

}