#Mesa {
    width: 80%;
    margin: 4px 0px 4px 4px;

    #Jugador-Mano, #Cpu-Mano {
        background-color: #27ae60;
    }
    
    #Jugador-Mesa, #Cpu-Mesa {
        background-color: #61BD6D;
    }
    
    #Jugador-Mesa, #Cpu-Mesa, #Jugador-Mano, #Cpu-Mano {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
    }
}